body {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    letter-spacing: 2px;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*User info block*/
h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    border-top: 10px double #a49a99;
    border-bottom: 10px double #a49a99;
    margin: 10px;
}

/*Обгортка з user info*/
.wrapper {
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border: 10px outset #e4cecb;
    box-sizing: border-box;
    width: 90vw;
}

/*розмальовка списку*/
.wrapper > ul > span {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

span {
    font-family: "Paytone One", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

/*<button>Posts of current user*/
#post_btn {
    width: 90vw;
    height: 50px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-style: italic;
    color: #18c0f3;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #f3dad7;
    background-image: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    transition: 1s;
}

#post_btn:hover {
    background-color: rgba(11, 177, 206, 0.6);
    transition: 1s;
}

#post_btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


/*Блок з постами*/
.post_wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
/*Обгортка для кожного посту*/
.post {
    justify-content: space-between;
    width: 18vw;
    height: 200px;
    gap: 10px;
    background-color: rgba(239, 120, 93, 0.8);
    /*border-right: 5px solid rgb(11, 177, 206);*/
    /*border-left: 5px solid rgb(11, 177, 206);*/
    border: 5px solid rgb(11, 177, 206);
    border-radius: 33px;
}
/* розмальовка post info*/
.title {
    text-align: justify;
    /*text-justify: auto;*/
    font-family: "Paytone One", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    height: 150px;
}

.title::before {
    content: " ";
    background-image: url("https://img.icons8.com/ios-filled/50/quote.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-bottom: 10px;

}
/*кнопка Post details*/
.post button {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /*font-style: normal;*/
    /*font-style: italic;*/
    border: none;
    background-color: rgb(11, 177, 206);
    border-radius: 10px;
    background-image: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));

    width: 14vw;
    height: 30px;
    margin-bottom: 10px;
}

.post button:hover {
    background-color: rgba(11, 177, 206, 0.6);
    transition: 1s;
    cursor: pointer;
}

.post button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


